body {
	background-color: #000;

}
.head {
	width:125px;
	height: 125px;
	background-color: #fff;
	margin: auto ;
	position: absolute;
	top:0;
	left:0;
	bottom: 0;
	right: 0;
	vertical-align: middle;
	background-image: url("a.jpg");
	background-position:-1000px 0px;
}
/*.head:hover {

	background-position:-1125px 0px !important;
}
*/

p {
	color: #fff;
	position: absolute;
	top: 0;
	margin-top: 0em;
	left: 0;
}
span {
	color: #fff;
	position: absolute;
	right: 0;
	top: 0;
}
h2 {
	color: #fff;
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0;
}
h3 {
	color: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 0;
}
.h {
	padding: 0;
	margin: 0;
	border: 0;
	border: solid 2px #fff;
	position: relative;
}
img.see {
	height: 125px;
	width: 125px;
	background-image: url("a.jpg");
	background-position:-1000px -125px;
	position: absolute;
	top:125;
}
.see:hover {
	background-position:-1250px -125px;
}
